<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liferunner.mapper.OrderProductsMapper">
  <resultMap id="BaseResultMap" type="com.liferunner.pojo.OrderProducts">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="item_id" jdbcType="VARCHAR" property="productId" />
    <result column="item_img" jdbcType="VARCHAR" property="productImg" />
    <result column="item_name" jdbcType="VARCHAR" property="productName" />
    <result column="item_spec_id" jdbcType="VARCHAR" property="productSpecId" />
    <result column="item_spec_name" jdbcType="VARCHAR" property="productSpecName" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="buy_counts" jdbcType="INTEGER" property="buyCounts" />
  </resultMap>
</mapper>