<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liferunner.mapper.ShopUsersMapper">
  <resultMap id="BaseResultMap" type="com.liferunner.pojo.ShopUsers">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="REVISION" jdbcType="INTEGER" property="revision"/>
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy"/>
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime"/>
  </resultMap>
</mapper>